@{
    ViewData["Title"] = "Fałszywa podstrona";
}

<div class="container mt-4">
    <h2>Fałszywa podstrona</h2>
</div>

<img src="https://canarytokens.com/images/tags/about/zbyykl7p4ebsr6alk6qsylyr5/image.jpg" style="display:none;" />